<div ng-controller='adminController as admin' class='container'>
    <div class='header'>
        Admin area
    </div>
   <div class='containerHeader'>
       <button ng-click='admin.createNewArticle()' class='btn btn-active'>Create new article</button>
       <button class='btn btn-active'>All articles</button>
       <button class='btn btn-active'>Waiting approval</button>
   </div> 
   <div class='containerContent'>
        <div ng-show='admin.creatingArt'  class='createArticle'>
           <label for="artName">Article Name:</label>
           <input ng-model="admin.articleName" type="text" class="form-control" id="artName" ng-required="true">
           <label for="artKwords">Keywords:</label>
           <input ng-model="admin.articleKeywords" type="text" class="form-control" id="artKwords" ng-required="true">

            <div>
                <label>Data</label>
                <text-angular ng-model="admin.articleContent" class="ta-editor" name="textBox" ng-model="admin.articleContent" required></text-angular>
            </div>
            <div>
                <button ng-click="admin.saveArticle()" class='btn btn-active'>Save article</button>
            </div>
        </div>
   </div>
</div>