<div ng-controller='adminController as admin' class='container'>
    <div class='header'>
        Admin area
    </div>
   <div class='containerHeader'>
       <button ng-click='admin.createNewArticle()' class='btn btn-active'>Create new article</button>
       <button class='btn btn-active'>All articles</button>
       <button class='btn btn-active'>Waiting approval</button>
   </div> 
   <div class='containerContent'>
       <div ng-show='admin.creatingArt'  class='createArticle'>
           Creating article
           <label for="artName">Article Name:</label>
           <input type="text" class="form-control" id="artName">
           <label for="artKwords">Keywords:</label>
           <input type="text" class="form-control" id="artKwords">
       </div>
   </div>
      <label>Data</label>
      <text-angular class="ta-editor" name="textBox" ng-model="data" required></text-angular>

</div>