<div ng-controller='adminController as admin' class='container all'>
    <div class='header'>
        <div class='logo'>Admin area</div>
    </div>
    <div class='containerHeader'>
       <div class="btn-group">
           <button ng-click='admin.changePage("createArticle")' class='btn btn-primary'>Create new article</button>
           <button ng-click='admin.changePage("listArticles")' class='btn btn-primary'>All articles</button>
           <button ng-click='admin.changePage("listAwaiting")' class='btn btn-primary'>Waiting approval</button>
       </div>
    </div> 
    <div class="taylorswift"></div>
    <div class='containerContent'>
        <!-- CREATE ARTICLE -->
        <div ng-show='admin.checkCurrentPage("createArticle")'  class='createArticle'>
           <label for="artName">Article Name:</label>
           <input ng-model="admin.articleName" type="text" class="form-control" id="artName" ng-required="true">
           <label for="artKwords">Keywords:</label>
           <input ng-model="admin.articleKeywords" type="text" class="form-control" id="artKwords" ng-required="true">

            <div>
                <label>Content:</label>
                <text-angular ng-model="admin.articleContent" class="ta-editor" name="textBox" ng-model="admin.articleContent" required></text-angular>
            </div>
            <div>
                <button ng-click="admin.saveArticle()" class='btn btn-active'>Save article</button>
            </div>
        </div>
        <!-- LIST ARTICLES -->
        <div ng-show='admin.checkCurrentPage("listArticles")'>
            List articles
        </div>
        <div ng-show='admin.checkCurrentPage("listAwaiting")'>
            Awaiting approval
        </div>
    </div>
</div>