<div ng-controller='mainController as main'>
<div class="topmenu">
  <div class="container">
  	<div class="row">
          <form>
          <div class="col-sm-4 col-sm-offset-4">
              <div id="imaginary_container">
                  <div class="input-group stylish-input-group">
                      <input ng-click='main.clearDomain()' ng-model='main.domainName' placeholder="Domain..." name="domainname" type="text" class="form-control">
                      <span class="input-group-addon">
                          <button ng-click='main.submitDomain()' type="submit">
                              <span class="glyphicon glyphicon-search"></span>
                          </button>
                      </span>
                  </div>
              </div>
          </div>
          </form>
  	</div>
  </div>
</div>

<div class="logo">
<img style='margin-top: 2px; margin-left: 2px;' src="images/logosmall.png" height="80">
<div class='textwrapper'>
<div class='logofont'>PARAGON</div>
<div class='logosmallfont col-sm-4 col-sm-offset-4'>toolkitty</div>
</div>
</div>

<div class="loggedin">
  <div class="username"><?php echo $_SESSION['username']; ?></div>
  <div class="glyph"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></div>
</div>

<div class="leftmenu">
<div ng-click="main.funcSwitch('helperActive')" class="leftmenu-item leftmenu-item-text col-sm-8 col-sm-offset-1" id="first">Helper</div>
<div class="leftmenu-item leftmenu-attribute" id="first"><span class="glyphicon glyphicon-remove" aria-hidden="true"></div>
<div ng-click="main.funcSwitch('dnsActive')" class="leftmenu-item leftmenu-item-text col-sm-8 col-sm-offset-1 dnscheck" id="inner">DNS Check</div>
<div class="leftmenu-item leftmenu-attribute" id="inner"><span class="glyphicon glyphicon-remove" aria-hidden="true"></div>
<div ng-click="main.funcSwitch('blacklistsActive')" class="leftmenu-item leftmenu-item-text col-sm-8 col-sm-offset-1" id="inner">Blacklists</div>
<div class="leftmenu-item leftmenu-attribute" id="inner"><span class="glyphicon glyphicon-remove" aria-hidden="true"></div>
<div class="leftmenu-vertical">TOOLS</div>
</div>

<div id="header"></div>

<div class='container'>
  <div ng-show="main.helperActive" class="helper">
    <div class="toolHead">
      <div class="toolHeadText">Helper</div>
      <div ng-click="main.expandHelper()" class="toolHeadCog"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></div>
    </div>
    <div ng-show="main.expandHelperActive" class="helperSearch">
      
    </div>
    <div class="helperSearch">
      <input placeholder="Your search query here..." class="helperSearchInput" type="text" ng-model="helperSearch"/>
    </div>
    <div ng-repeat="article in main.allArticles | filter :{keywords:helperSearch} | limitTo: 5">
      <div class="articleHead" ng-click="main.articleHeadClicked(article.name)" >
        <div class="articleHeadText"> [[ article.name ]] </div>    
      </div>
      <div class="articleContent" ng-bind-html="article.content | sanitize" ng-if="article.clicked"></div>
    </div>
  </div>
  
  <div ng-show="main.dnsActive" class="helper">
    <div class="toolHead">
      <div class="toolHeadText">DNSInfo</div>
    </div>
  </div>
  
  <div ng-show="main.blacklistsActive" class="helper">
    <div class="toolHead">
      <div class="toolHeadText">Email Blacklists</div>
    </div>
  </div>
</div>

</div>