.body {

  background-color: #e6f2ff;

}



.logo {

  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;



}



.textwrapper {

  margin-left: 10px;
  position: relative;
  float: right;

}



.logofont {

  margin-top: 7px;
  font-family: 'Syncopate', sans-serif;
  font-size: 2.5em;
  height: 40px;
  color: white;

}



.logosmallfont {

  font-family: 'Syncopate', sans-serif;
  font-size: 1.3em;
  color: white;

}



.glyphicon.glyphicon-cog {
  font-size: 19px;
  color: white;

}



.glyph {

  margin-top: 6px;

}



.username {

  font-family: 'Syncopate', sans-serif;
  color: white;
  float: left;
  font-size: 25px;
  padding-right: 10px;

}



.loggedin {

  width: 200px;
  height: 70px;
  position: absolute;
  right: 0px;
  top: 25px;

}



#box {

  background-color:black;

}



#taylorswift {

  height:25px;

}



.topmenu {

  padding-top: 25px;
  padding-bottom: 25px;
  background: linear-gradient(to right, #085078 , #85D8CE);

}



.leftmenu {

  width: 50px;
  height: 89%;
  float: left;
  background: linear-gradient(135deg, rgba(8,80,120,1) 0%,rgba(26,99,132,1) 21%,rgba(133,216,206,1) 100%);

}



.leftmenu-vertical {

  transform: rotate(-90deg);
  position: relative;
  top: 48%;
  font-family: 'Syncopate', sans-serif;
  color: white;

}



.leftmenu-item {

  font-family: 'Syncopate', sans-serif;
  font-size: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  color: white;
  display: none;
  height: 50px;
  padding-top: 12px;
  float: left;
  cursor: default;

}



.leftmenu-attribute {

  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 50px;
  position: relative;
  float: left;
  padding-left: 14px;
  padding-top: 14px;
  color: rgba(206, 218, 222, 0.5);

}



div#first.leftmenu-attribute {

  margin-top: 50px;

}



div#first.leftmenu-item {

  margin-top: 50px;

}



div#inner.leftmenu-item {

  margin-top: 25px;

}







#header {

}



.form-control {

  width: 50em;
  font-family: Hack, monospace;

}



.stylish-input-group .input-group-addon{

    background: white !important;

}

.stylish-input-group .form-control{

	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;

}

.stylish-input-group button{

  border:0;
  background:transparent;

}

